@use "../global/colors" as c;
@use "../global/variables" as v;

input {
  padding: 1rem;
  border: 1px solid c.$dark-grayish-violet;
  outline: none;
  border-radius: 0.5rem;
  transition: v.$main-transition;
  font-size: inherit;
  color: c.$violet;

  &::placeholder {
    color: c.$light-grayish-violet;
  }

  &:hover,
  &:focus {
    border-color: c.$violet;
  }
}
