@use "../global/mixins" as *;
@use "../global/variables" as v;

.payment-section {
  width: 100%;
  height: 100vh;
}

.payment-section {
  @include flex(row, space-around, center);
  gap: calc((v.$cardWidth - v.$backCardTranslate) / 2);
}

.background-image {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: calc(100vw / 3) 100vh;
}

@media (width <= 1080px) {
  .payment-section {
    height: 100%;
    flex-direction: column;
    gap: 5rem;
    padding: 1rem 0;
  }

  .background-image {
    background-image: url("/images/bg-main-mobile.png");
    top: 0;
    left: 0;
    background-size: 100vw calc(100vh / 3);
  }
}

@media (width <= 500px) {
  .payment-section {
    padding-bottom: 0;
  }
}
